# Contact info
VITE_OWNER_PHONE=+977 9810754805
VITE_OWNER_PHONE_HREF=+9779810754805
VITE_WHATSAPP_NUMBER=9779810754805
VITE_OWNER_EMAIL=joshigrish058@gmail.com
VITE_FACEBOOK_URL=https://www.facebook.com/share/1HcZcLV1DT/
VITE_INSTAGRAM_URL=https://www.instagram.com/nepal_home_tuition/

# Google Apps Script Web App URL for vacancies
# VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/xxxxxxxx/exec
